#ifndef SECRETS_H
#define SECRETS_H

// WiFi-information
#define WIFI_SSID "SSID"
#define WIFI_PASSWORD "SSID_PW"

// MQTT-information
#define MQTT_SERVER "192.168.0.100"
#define MQTT_PORT 1883
#define MQTT_USER "MQTT_CLIENT"
#define MQTT_PASSWORD "MQTT_PW"

#endif
